In [4]:
import pandas as pd

df = pd.read_csv ('file.csv')
df2 = pd.read_csv ('file2.csv')

dft=df.transpose()
df2t=df2.transpose()
dft

                0    1    2    3
Unnamed: 0   name  NaN    A    B
year        marks  NaN  NaN  NaN
2021            8  NaN    4    4
2022           10  NaN    6    4

In [6]:
d1=dft.iloc[:, : 1] #remove side cols
d1

                0
Unnamed: 0   name
year        marks
2021            8
2022           10

In [7]:
d2=d1[2:] # remove top2 row not requred
d2

       0
2021   8
2022  10

In [33]:
v=d2.to_dict() #convert to dict
v

{0: {'2021': 8.0, '2022': 10.0}}

In [43]:
keys_values = v[0].items()

nd = {int(key): int(value) for key, value in keys_values}
nd

{2021: 8, 2022: 10}

In [41]:
import pandas as pd

df = pd.read_csv ('file.csv')
df

  Unnamed: 0   year  2021  2022
0       name  marks   8.0  10.0
1        NaN    NaN   NaN   NaN
2          A    NaN   4.0   6.0
3          B    NaN   4.0   4.0

In [42]:
dft=df.transpose() #row to col

d1=dft.iloc[:, : 1] #remove side cols

d2=d1[2:] # remove top2 row not requred

v=d2.to_dict() #convert datafame to dict

keys_values = v[0].items()

x = {int(key): int(value) for key, value in keys_values}
print(x)

{2021: 8, 2022: 10}

In [46]:
# 2nd Part

In [108]:
df = pd.read_csv ('file.csv') #if same both (x y) ek main kr rahe to no need this step
qdf=df 
qdf

  Unnamed: 0   year  2021  2022
0       name  marks   8.0  10.0
1        NaN    NaN   NaN   NaN
2          A    NaN   4.0   6.0
3          B    NaN   4.0   4.0

In [111]:
qdf.rename(columns = {'Unnamed: 0':'tp'}, inplace = True) # Rename "Unnamed: 0" for  hame easy hone ke liye 
qdf1 = qdf.drop('year',1) # No need year
qd2=qdf1[2:] #Remove first 2 row

li=[*qd2] #getting only head row

li=li[1:] #Remove tp form just list

# Mapping list tp to dict
my_dict = {} 
for key in li: 
        my_dict[key] =  dict(zip(qd2['tp'],qd2[key]))
# print(my_dict)

y={int(key):my_dict[key] for key in my_dict} 

print(y)

{2021: {'A': 4.0, 'B': 4.0}, 2022: {'A': 6.0, 'B': 4.0}}

In [94]:
# for i in li:
#     z=dict(zip(qd2['tp'],qd2[i]))
#     print(z)

{'2021': {'A': 4.0, 'B': 4.0}, '2022': {'A': 6.0, 'B': 4.0}}